<div class="container" style="text-align: right;">

  <div class="main-category">
    <% Category.all.each do |p| %>
      <%= link_to p.name, posts_path(category: p.name) %>
    <% end %>
  </div>

  <div class="search-button">
    <%= render 'searches/search_form', post: @posts.klass %>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-3">
      <div class="recipe-box">
          <% if post.image? %>
            <%= link_to (image_tag post.image.url, class: "recipe-index"), post %>
          <% end %>
        <ul>
          <li><%=link_to post.title, post %></li>
            <div class="option">
              <div class="index-temperature">
                온도<br>
                <div class="text-temperature">
                <%= post.temperature %>
                </div>
              </div>
              <div class="index-time">
                시간<br>
                <div class="text-time">
                <%= post.time %>
                </div>
              </div>
              <div class="option-count">
                <i class="fas fa-eye" style="padding-left: 5px;"></i>
                <%= "#{post.impressionist_count}" %>
              </div>
            </div>
        </ul>
      </div> <!--/recipe-box-->
    </div> <!--/col-md-3-->
    <% end %>
  </div> <!--/row-->
</div> <!--/container-->
<br>
